html {
  box-sizing: border-box;
  /* font-size: 62.5%; 1rem => 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globales */

body {
  font-family: 'Raleway', sans-serif;
  line-height: 2;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  margin: 0 0 1.25rem 5;
}

h1 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.125rem;
  }
}
h2 {
  font-size: 2rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}
h3 {
  font-size: 1.5rem;
}
@media (min-width: 768pc) {
  h3 {
    font-size: 1.875rem;
  }
}

a {
  color: #000;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* Utilidades */

.text-center {
  text-align: center;
}

.max-width-30 {
  max-width: 18.75rem;
}

.btn {
  background-color: #8cbc00;
  border: none;
  color: #fff;
  display: block;
  font-weight: 900;
  padding: 0.625rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease-out;
}

.btn:hover {
  background-color: #769c02;
  cursor: pointer;
}

.contenedor {
  max-width: 75rem;
  /* margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto; */
  /* margin: 0 auto; */
  margin-inline: auto;
}

/* Header y navegacion */
.nombre-sitio {
  margin-top: 3.125rem;
  text-align: center;
}

.nombre-sitio span {
  color: #037bc0;
}

.contenedor-navegacion {
  border-top: 0.0625rem solid #e1e1e1;
}

.nav-principal {
  /* border-color: #e1e1e1;
  border-top-style: solid;
  border-width: 1px; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 0;
}

@media (min-width: 768px) {
  .nav-principal {
    flex-direction: row;
  }
}

.hero {
  background-image: url(../img/principal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 15.625rem;
}

@media (min-width: 768px) {
  .hero {
    height: 34.375rem;
  }
}

/* Categorías*/

.categorias {
  padding-top: 3.125rem 0;
}
.categoria {
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .categoria {
    margin-bottom: 0;
  }
}

.categoria img {
  width: 100%;
}

.categorias h2 {
  text-align: center;
}

.categoria a {
  display: block;
  font-size: 1.25rem;
  padding: 1.25rem;
  text-align: center;
}

.categoria a:hover {
  background-color: #037bc0;
  color: #fff;
  border-bottom-right-radius: 1.25rem;
}

@media (min-width: 768px) {
  .listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
  }
}

/* Bloque nosotros */

.sobre-nosotros {
  background-image: linear-gradient(
      to bottom,
      transparent 50%,
      #037bc0 50%,
      #037bc0 100%
    ),
    url(../img/nosotros.jpg);
  background-position: center, top left;
  background-repeat: no-repeat;
  background-size: 100%, 43.75rem;
}

@media (min-width: 768px) {
  .sobre-nosotros {
    background-image: linear-gradient(
        to right,
        transparent 50%,
        #037bc0 50%,
        #037bc0 100%
      ),
      url(../img/nosotros.jpg);
    background-position: left center;
    padding: 6.25rem 0;
    background-size: 100%, 100rem;
  }
}

/* Con grid */
.sobre-nosotros-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.5625rem;
}

@media (min-width: 768px) {
  .sobre-nosotros-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
    column-gap: 2.5rem;
    row-gap: unset;
  }
}

.texto-nosotros-grid {
  grid-row: 2 / 3;
  padding: 0 3.125rem;
  color: #fff;
}

@media (min-width: 768px) {
  .texto-nosotros-grid {
    grid-column: 2 / 3;
    padding: unset;
  }
}
/* Con flexbox */
.sobre-nosotros-flex {
  display: flex;
  justify-content: flex-end;
}

.texto-nosotros-flex {
  flex-basis: 50%;
  padding-left: 6.25rem;
  color: #fff;
}

/* Bloque listado de productos */

.producto {
  background-color: #037bc0;
  margin-bottom: 1.25rem;
}

.producto:last-of-type {
  margin-bottom: 0;
}

.texto-producto {
  text-align: center;
  padding: 1.25rem;
  color: #fff;
}

.texto-producto h3 {
  margin: 0;
}

.texto-producto p {
  margin: 0 0 0.3125rem 0;
}

.texto-producto .precio {
  font-size: 1.75rem;
  font-weight: 900;
}

@media (min-width: 768px) {
  .contenido-principal {
    padding-top: 3.125rem;
  }

  .listado-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* column-gap: 1.25rem;
    row-gap: 1.25rem; */
    gap: 1.25rem;
  }

  .producto:nth-child(1) {
    grid-column: 1 / 7;
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .producto:nth-child(1) img {
    object-fit: cover;
    height: 33.875rem;
    width: 100%;
  }

  .producto:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .producto:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 7;
  }

  .producto:nth-child(2) img,
  .producto:nth-child(3) img {
    object-fit: cover;
    height: 18.75rem;
    width: 100%;
  }

  .producto:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .producto:nth-child(5) {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  .producto:nth-child(6) {
    grid-column-start: 5;
    grid-column-end: 7;
  }
  .producto {
    margin-bottom: unset;
  }
}

/* Footer */

.site-footer {
  border-top: 1px solid #e1e1e1;
  margin-top: 3.125rem;
  padding-top: 3.125rem;
}

.grid-footer {
  display: flex;
  gap: 1.25rem;
}

.grid-footer h3 {
  margin-bottom: 0.3125rem;
}
.grid-footer div {
  flex: 1;
}

.footer-menu a {
  display: block;
}

.copyright {
  text-align: center;
  margin-top: 3.125rem;
}

/* Nosotros*/

.contenido-nosotros {
  display: grid;
  /* grid-template-columns: 1fr 2fr; */
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  column-gap: 2.5rem;
}

.informacion-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Blog */

.contenedor-blog {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2.5rem;
}

.entrada {
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 2.5rem;
  margin-bottom: 1.25rem;
}

.entrada:last-of-type {
  border: none;
}

.entrada-meta {
  display: flex;
  justify-content: space-between;
}

.entrada-meta p {
  font-weight: 700;
}

.entrada-meta span {
  color: #037bc0;
}

.contenido-entrada-blog {
  max-width: 37.5rem;
  margin: auto;
}

/* galería */

.galeria {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
}

.galeria img {
  object-fit: cover;
  height: 25rem;
  width: 25rem;
}

/* Formulario */

.formulario {
  max-width: 37.5rem;
  margin: 0 auto;
}

.formulario fieldset {
  border: 1px solid black;
  margin-bottom: 1.25rem;
}

.formulario legend {
  background-color: #005485;
  color: #fff;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.625rem;
  margin-bottom: 2.5rem;
}

.campo {
  display: flex;
  margin-bottom: 1.25rem;
}

.campo label {
  /* le dice lo que ocupa el campo */
  flex-basis: 6.25rem;
}

/* Selector de atributo entre corchetes */
/* .campo input[type='text'],
.campo input[type='tel'],
.campo input[type='email'],
textarea {
  flex: 1;
  border: 1px solid #e1e1e1;
  padding: 0.625rem;
} */

.campo input:not([type='radio']),
textarea,
select {
  border: 1px solid #e1e1e1;
  flex: 1;
  margin: 0 0.625rem;
  padding: 0.625rem;
}

/* .texto-producto a {
  display: block;
  background-color: #8cbc00;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0.625rem;
  transition: background-color 0.3s ease-out;
}

.texto-producto a:hover {
  background-color: #769c02;
} */

/* .producto img {
  transition: transform 0.3s ease-out;
}

.producto img:hover {
  transform: scale(0.9);
} */
/* Box model */

/* 
.sobre-nosotros {
  background-color: red;
  padding: 25px;
  width: 200px;
}

.sobre-empresa {
  background-color: blue;
  width: 500px;
  padding: 100px;
} */

/* Display inline y block */
/* p {
  background-color: red;
  width: 200px;
  height: 100px;
  display: inline-block;
} */

/* Modulos BEM SMACSS */
/* Modulos */
/* .navegacion {
    background-color: #e1e1e1;
  }

  .navegacion a {
    text-transform: uppercase;
  } */

/* Otro */
/* .enlace {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #037bc0;
}

.color-rojo {
  color: red;
} */
